datasets==3.2.0
docker==7.1.0
jupyter_client==8.6.3
jupyter_core==5.7.2
langchain==0.3.18
langchain-anthropic==0.3.7
langchain-community==0.3.17
langchain-core==0.3.35
langchain-experimental==0.3.4
langchain-ollama==0.2.3
langchain-text-splitters==0.3.6
langgraph==0.2.72
langgraph-checkpoint==2.0.13
langgraph-sdk==0.1.51
langsmith==0.3.8
ollama==0.4.7
pydantic==2.10.6
pydantic-settings==2.7.1
pydantic_core==2.27.2
